:root {
  --white: #ffffff;
  --black: rgb(24, 24, 24);

  --grid-step: 4px;
}

:root {
  --color-bg: var(--white);
  --color-text: var(--black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-bg);
  transition: color 0.2s, background-color 0.2s;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
}

#app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
